{
    "Version": "2012-10-17",
    "Statement": [
      {
        "Effect": "Allow",
        "Principal": {
          %{if svc != null} "Service": "${svc}.amazonaws.com" %{endif}
          %{if aws != null} "AWS": "${aws}.amazonaws.com" %{endif}
        },
        "Action": "sts:AssumeRole"
      }
    ]
  }