%{ for role in role_config ~}
- rolearn: arn:aws:iam::${aws_account}:role/${role.iam_name}
  username: ${role.username}
  groups:
  ${ for group in role.groups ~}
    - ${group.name}
  %{ endfor ~}
%{ endfor ~}